<h1 property="name">{{ 'GENERAL.TITLE' | translate }}</h1>

<div class="row">

    <div class="col-md-10">

        <h3>{{ 'ADMIN.DEPTS_SUBTITLE' | translate }}</h3>
        <br>

        <table class="table table-striped table-hover row-border hover small">
            <caption class="wb-inv">{{ 'ADMIN.DEPTS_SUBTITLE' | translate }}</caption>
            <thead class="small">
            <tr>
                <th scope="col">{{ 'ADMIN.HEAD_DEPT_EN' | translate }}</th>
                <th scope="col">{{ 'ADMIN.HEAD_DEPT_FR' | translate }}</th>
                <th scope="col">{{ 'ADMIN.HEAD_ACRONYM_EN' | translate }}</th>
                <th scope="col">{{ 'ADMIN.HEAD_ACRONYM_FR' | translate }}</th>
                <th scope="col">{{ 'ADMIN.HEAD_SEARCH_FR' | translate }}</th>
                <th scope="col">{{ 'ADMIN.HEAD_SEARCH_FR' | translate }}</th>
            </tr>
            </thead>
            <tbody class="small">
                @for (department of departments; track department) {
                    <tr>
                        <td><a
                                href="/{{currentTranslation}}/assessment?deptId={{department.id}}&langId={{langEnId}}">{{ department.nameEn }}</a>
                        </td>
                        <td><a
                                href="/{{currentTranslation}}/assessment?deptId={{department.id}}&langId={{langFrId}}">{{ department.nameFr }}</a>
                        </td>
                        <td class="center"><a
                                href="/{{currentTranslation}}/assessment?deptId={{department.id}}&langId={{langEnId}}">{{ department.acronymEn }}</a>
                        </td>
                        <td class="center"><a
                                href="/{{currentTranslation}}/assessment?deptId={{department.id}}&langId={{langFrId}}">{{ department.acronymFr }}</a>
                        </td>
                        <td><a href="{{department.searchUrlEn}}">{{ department.searchUrlEn }}</a></td>
                        <td><a href="{{department.searchUrlFr}}">{{ department.searchUrlFr }}</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br>